<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDSFoqF_LpMiStYzM1jyE5ocQBr-oESHLQ</string>
	<key>GCM_SENDER_ID</key>
	<string>781512659364</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.plastic</string>
	<key>PROJECT_ID</key>
	<string>ewaste-6dfd4</string>
	<key>STORAGE_BUCKET</key>
	<string>ewaste-6dfd4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:781512659364:ios:6f7271addc574cf1037131</string>
</dict>
</plist>